# docker-compose file for minimal deployment

version: '2'
services:
  postgres:
    image: postgres
    environment:
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
  engine:
    build:
      context: .
      dockerfile: Dockerfile_local
    command: bash -c "sleep 5 && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "80:8000"
    links:
      - postgres

volumes:
  pgdata:
